* {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
}

body {
    background-color: black;
}

nav {
    display: flex;
    border-bottom: 1px solid seashell;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

nav img {
    height: 50px;
}

nav a {
    text-decoration: underline;
}

#hero {
    background-image: url(/resources/images/img-mission-background.jpg);
    height: 700px;
    max-width: 1200px;
    background-size: cover;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

#hero-header {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tea-of-the-month h2, h4 {
    height: auto;
    width: 1200px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
} 

#tea-of-the-month {
    max-width: 1000px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    align-content: space-around;
}

#containers-tea {
    max-width: auto;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: space-around;
}

#containers-tea img {
    height: 200px;
    width: 300px;
    
}
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#locations {
    background-image: url(/resources/images/img-locations-background.jpg);
    height: 500px;
    max-width: 1200px;
    margin: 15, 40;
    background-size: cover;
}
#locations h2{
    display: flex;
    flex-direction: column;
}
#location-address {
    background-color: black;
    height: 300px;
    width: 300px;
    display: flex;
}
#location-address h3{
    display: flex;
}

#location-address h4{
    display: flex;

}

#contact h5 {
    font-size: 16px;
}

#copyright h5{
    display: flex;
    justify-content: flex-start;
    font-size: 18px; 
}   